* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #839b97;
    height: 100%;
}

.clock {
    position:  absolute;
    height: 200px;
    width: 200px;
    background-color: #fff;
    border-radius: 100%;
    border: 10px solid rgb(60, 52, 108);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.dot {
    position: absolute;
    height: 7px;
    width: 7px;
    background-color: #262626;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
}

.clock .hour {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 86400s infinite linear;
}

.clock .hour:before {
    content: "";
    height: 60px;
    width: 3px;
    background-color: #262626;
    position: absolute;
    top: 30px;
}

.clock .min {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 3600s infinite linear;
}

.clock .min:before {
    content: "";
    height: 40px;
    width: 1px;
    background-color: #262626;
    position: absolute;
    top: 50px;
}

.clock .sec {
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: time 60s infinite linear;
}

.clock .sec:before {
    content: "";
    height: 45px;
    width: 2px;
    background-color: #fd1111;
    position: absolute;
    top: 45px;
}

@keyframes time {
    to {
        transform: rotate(360deg);
    }
}